body{background:#27f1ff;}

.fotinha {
    /*
    border-width: 7px;
    border-right-style: none;
    border-left-style:double;
    border-top-style:ridge;
    border-bottom-style:groove;
    border-color: #ffffff;
    width:200px;
    */
    width:200px;
    border:6px solid rgb(1, 49, 32);
    border-radius: 50%;
    
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 50%;
    margin-right: 50%;
    /*
    margin: 15px 25px 35px 45px;
    */
    /*
    border-radius:50% 50% 0% 0%;
    */
    
}

p {color:#2f00ff;}